<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.portal.dao.TbExamPaperDao">
    <resultMap id="TbExamPaperMap" type="com.bishe.portal.model.mo.TbExamPaper">
        <id column="id" property="id"/>
        <result column="exam_paper_name" property="examPaperName"/>
        <result column="exam_paper_type" property="examPaperType"/>
        <result column="invalid_time" property="invalidTime"/>
        <result column="create_unit" property="createUnit"/>
        <result column="responsible" property="responsible"/>
        <result column="status" property="status"/>
        <result column="update_at" property="updateAt"/>
        <result column="exam_paper_num" property="examPaperNum"/>
        <result column="exam_judge_score" property="examJudgeScore"/>
        <result column="exam_select_score" property="examSelectScore"/>
        <result column="exam_paper_count" property="examPaperCount"/>
        <result column="exam_time" property="examTime"/>
        <result column="exam_paper_img" property="examPaperImg"/>
    </resultMap>

    <sql id="TableName">
        tb_exam_paper
    </sql>

    <sql id="Fields">
        exam_paper_name,exam_paper_type,invalid_time,create_unit,responsible,status,exam_paper_num,exam_judge_score,exam_select_score,exam_paper_count,exam_time,exam_paper_img
    </sql>

    <insert id="insertExamPaper">
        insert INTO <include refid="TableName"/> (
        <include refid="Fields"/>,
        create_at,
        update_at)
        values(
        #{examPaper.examPaperName},
        #{examPaper.examPaperType},
        #{examPaper.invalidTime},
        #{examPaper.createUnit},
        #{examPaper.responsible},
        #{examPaper.status},
        #{examPaper.examPaperNum},
        #{examPaper.examJudgeScore},
        #{examPaper.examSelectScore},
        #{examPaper.examPaperCount},
        #{examPaper.examTime},
        #{examPaper.examPaperImg},
        NOW(),
        NOW()
        )
    </insert>

    <update id="updateExamPaper">
        UPDATE <include refid="TableName"/>
        <set>
            <if test="examPaper.examPaperName != null">
                exam_paper_name = #{examPaper.examPaperName},
            </if>
            <if test="examPaper.examPaperType != null">
                exam_paper_type = #{examPaper.examPaperType},
            </if>
            <if test="examPaper.invalidTime != null">
                invalid_time = #{examPaper.invalidTime},
            </if>
            <if test="examPaper.createUnit != null">
                create_unit = #{examPaper.createUnit},
            </if>
            <if test="examPaper.responsible != null">
                responsible =  #{examPaper.responsible},
            </if>
            <if test="examPaper.status!= null">
                status = #{examPaper.status},
            </if>
            <if test="examPaper.examJudgeScore!= 0">
                exam_judge_score = #{examPaper.examJudgeScore},
            </if>
            <if test="examPaper.examSelectScore!= 0">
                exam_select_score = #{examPaper.examSelectScore},
            </if>
            <if test="examPaper.examPaperCount!= 0">
                exam_paper_count = #{examPaper.examPaperCount},
            </if>
            <if test="examPaper.examTime!=null">
                exam_time = #{examPaper.examTime},
            </if>
            <if test="examPaper.examPaperNum !=null">
                update_at = NOW(),
            </if>
            <if test="examPaper.examPaperImg !=null">
                exam_paper_img = #{examPaper.examPaperImg}
            </if>
        </set>
        where  exam_paper_num = #{examPaper.examPaperNum}
    </update>

    <delete id="deleteExamPaper">
        DELETE from <include refid="TableName"/>  where exam_paper_num = #{examPaperNum}
    </delete>

    <select id="selectExamPaper" resultMap="TbExamPaperMap">
        select <include refid="Fields"/>,update_at from <include refid="TableName"/>
        <where>
            <if test="examPaper.examPaperName != null ">
                exam_paper_name = #{examPaper.examPaperName}
            </if>
            <if test="examPaper.invalidBeginTime != null">
                invalid_time &gt; #{examPaper.invalidBeginTime}
            </if>
            <if test="examPaper.invalidEndTime != null ">
                invalid_time &lt; #{examPaper.invalidEndTime}
            </if>
            <if test="examPaper.createUnit != null ">
                create_unit = #{examPaper.createUnit}
            </if>
            <if test="examPaper.responsible != null ">
                responsible = #{examPaper.responsible}
            </if>
            <if test="examPaper.status != null ">
                status = #{examPaper.status}
            </if>
            <if test="examPaper.examPaperNum != null">
                exam_paper_num = #{examPaper.examPaperNum}
            </if>
            <if test="examPaper.examPaperType != null">
                exam_paper_type = #{examPaper.examPaperType}
            </if>
        </where>
        <if test="examPaper.startIndex !=  null and examPaper.pageSize!= null">
            LIMIT #{examPaper.startIndex},#{examPaper.pageSize}
        </if>
    </select>

    <select id="getExamPaperByNumber" resultMap="TbExamPaperMap">
        select <include refid="Fields"/> from <include refid="TableName"/>
        where exam_paper_num = #{examPaperNum}
    </select>

    <select id="getExamPaperByType" resultMap="TbExamPaperMap">
        select <include refid="Fields"/> from <include refid="TableName"/>
        where exam_paper_type = #{examPaperType} LIMIT #{startIndex},#{pageSize}
    </select>

    <update id="updateExamStatus">
        update <include refid="TableName"/>
        set status = 2,update_at = NOW()
        where exam_paper_num = #{examPaperNum}
    </update>

    <select id="getReleaseExamPaper" resultMap="TbExamPaperMap">
        select <include refid="Fields"/>
        from <include refid="TableName"/>
        where status = 1
    </select>
</mapper>